<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cxf="http://cxf.apache.org/core"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:task="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd
	   					   http://www.springframework.org/schema/data/jpa
    					   http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
    					   http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
    					   http://www.springframework.org/schema/context
						   http://www.springframework.org/schema/context/spring-context.xsd
						   http://www.springframework.org/schema/tx
						   http://www.springframework.org/schema/tx/spring-tx.xsd
						   http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
    					   ">

	<context:annotation-config />

	<jpa:repositories base-package="test.chetan.repository" />
	<context:component-scan base-package="test.chetan.repository" />
	<context:component-scan base-package="test.chetan.endpoint" />
	<context:component-scan base-package="test.chetan.logic" />

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />





	<jaxrs:server id="stockService">
		<jaxrs:serviceBeans>
			<ref bean="StockServiceEndpoint" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<!-- <bean id="jaxbProvider" class="org.apache.cxf.jaxrs.provider.JAXBElementProvider"/> -->
			<bean class="org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider" />
		</jaxrs:providers>
		<jaxrs:features>
			<cxf:logging />
		</jaxrs:features>
	</jaxrs:server>

	<!-- <bean id="stockServiceBean" class="test.chetan.endpoint.StockServiceEndpoint"/> -->

	<bean id="dataSource" destroy-method="close"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.h2.Driver" />
		<property name="url" value="jdbc:h2:~/test" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>

	<bean id="myEmf"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- <property name="loadTimeWeaver"> -->
		<!-- <bean -->
		<!-- class="org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver" 
			/> -->
		<!-- </property> -->

		<property name="packagesToScan">
			<list>
				<value>test.chetan.model</value>
			</list>
		</property>

		<!-- <property name="jpaDialect" value="org.hibernate.dialect.H2Dialect"/> -->
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">create-drop</prop>
			</props>
		</property>
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="generateDdl" value="true" />
				<property name="database" value="H2" />
			</bean>
		</property>
	</bean>


	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="myEmf" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>